html {
    font-size: 16px;
}

body {
    background-color: #4697C3;
}

  button, select {
    color: #000;
  }

  #intro-content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: 100%;
    border: 5px solid red;
   

  }

  #intro-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    
 
  }

  #intro-header h1 {
   font-size: 3rem;
   font-weight: 600;
   font-family: "Love Ya Like a Sister";

}

  #intro-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    overflow: hidden;
    
  }

  #intro-image-container img {
    width: auto;
    height: 90%;
        
  }

  #intro-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
        
  }

  #intro-button-container button {
    font-family: "Love Ya Like a Sister";
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 5px;
  }
  

#intro-content {
    position: relative;
    top: 2rem;
    height: 80vh;
    width: 80vh;
    margin: 0 auto;
    border: 3px solid black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
    background-color: #FCFFF7;


}



@media only screen and (min-width: 300px) and (max-width: 600px) {
    
    
    #intro-content {
        height: 80vw;
        width: 80vw;
    }

    #intro-header h1 {
        font-size: 1.75rem;
    }
    
}

@media only screen and (min-width: 601px) and (max-width: 1100px) {
     
    
    #intro-content {
        height: 70vw;
        width: 70vw;
    }

    #intro-header h1 {
        font-size: 3rem;
    }
}

