html {
    font-size: 16px;
}

body {
    background-color: #4697C3;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

a:focus,a:visited,a:active{
    outline: none;
  }

  button, select {
    color: #000;
  }
  

#main-content {
    
    height: 46.9rem;
    width: 46.9rem;
    margin: 0 auto;
    border: 3px solid black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
    background-color: #FCFFF7;


}



#header {
    font-size: 4rem;
    font-weight: 900;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    
}



#players {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 75%;
    width: 100%;
    

}

#user {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right: 3px solid black;
    
    width: 50%;
    height: 100%;



}

#user-choice-display {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 40%;
    font-size: 3.5rem;
    font-weight: 900;

}

#user-choice,
#throw, #reset {
    margin: 1.5rem;

    font-size: 2rem;
}


#user-mechanics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 60%;
}


#computer {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    width: 50%;
    height: 100%;
}

#computer-choice-display {
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: 40%;
    width: 100%;
    font-size: 3.5rem;
    font-weight: 900;
}

#computer-image-container {
    display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 60%;
   
   
    
}

button {
    border-radius: 5px;
}

#computer-image-container img {
    width: 12.5rem;
    height: auto;
}

/* media queries */


/* screens between 300px - 500px */

@media only screen and (min-width: 300px) and (max-width: 500px) {
    #main-content {
        height: 300px;
        width: 300px;
        position: relative;
        top: 2rem;
    }

    #computer-image-container img {
        width: 5rem;
        height: auto;
    }

    #header {
        font-size: 1.5rem;
    }

    #computer-choice-display,
    #user-choice-display {
        font-size: 1.5rem;
    }

    #user-choice,
    #throw,
    #reset {
        margin: .5rem;

        font-size: 1rem;
    }

}

/* screens between 501px - 700px */


@media only screen and (min-width: 501px) and (max-width: 700px) {
    #main-content {
        height: 500px;
        width: 500px;
        
    }

    #computer-image-container img {
        width: 6rem;
        height: auto;
    }

    

    #header {
        font-size: 1.75rem;
    }

    #computer-choice-display,
    #user-choice-display {
        font-size: 1.75rem;
    }

    #user-choice,
    #throw,
    #reset {
        margin: .5rem;

        font-size: 1.25rem;
    }

}

/* screens between 701px - 900px */


@media only screen and (min-width: 701px) and (max-width: 900px) {
    #main-content {
        height: 600px;
        width: 600px;
        
    }

    #computer-image-container img {
        width: 7rem;
        height: auto;
    }

    

    #header {
        font-size: 2rem;
    }

    #computer-choice-display,
    #user-choice-display {
        font-size: 2rem;
    }

    #user-choice,
    #throw,
    #reset {
        margin: .5rem;

        font-size: 1.5rem;
    }

}



